$green: green;
$white: white;
$black: black;
$red: red;
$blue: blue;
$yellow: yellow;
$orange: orange;
$grey: grey;
$purple: purple;
$brown: brown;
$teal: teal;
$navy: navy;
$maroon: maroon;
$olive: olive;
$lime: lime;
$gold: #ffd700;
$silver: silver;
$gray: gray;

$primary: #FFFFFF;
$primary_border: #049C5F;
$secondary_1: #049C5F;
$secondary_1_shadow: #AAAAAA;
$secondary_2: #444444;
$accent_1: #FC0FC0;
$accent_2: #EB9EB9;
$accent_3: #FFD700;
$border-guide: 1px solid red;
$background: #000000;